<div class="container">
    <% if(account) { %>
    <a class="lgn-btn" href="/manage">Manage login details</a>
    <% } else { %>
    <a class="lgn-btn" href="/login"><i class="fa-brands fa-discord"></i> Login using discord</a>
    <% } %>
</div>