<div class="container">
    <div class="create">
        <form class="create__form" method="post" action="/create">
            <p class="title-create">Create Account:</p>
            <% for(const error of errors) { %>
            <p class="input__error"><%= error.msg %></p>
            <% } %>
            <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="4" maxlength="64" required>
            <br>
            <input type="password" name="password" placeholder="Password" autocomplete="new-password" minlength="8" maxlength="32" required>
            <br>
            <input class="create__submit" type="submit" value="SUBMIT">
        </form>
    </div>
</div>